[options]
db_host = dpg-d0vnmgndiees73f25pd0-a
db_port = 5432
db_user = odoo
db_password = aZEqqhxDVYVV0QJY6uYsXMAowMb3Jed5
db_name = odoo_bdnp

admin_passwd = adminodoo
xmlrpc_port = 8069
log_level = info
addons_path = /mnt/extra-addons,/usr/lib/python3/dist-packages/odoo/addons

